.invest-plan-two {
    padding: 40px 48px;
    border-radius: 24px;
    background: linear-gradient(to bottom, #1ab2ff -20.15%, #ffb258 100%);
    border: 0.97px solid #eff0f6;
    color: #ffffff;
    box-shadow: rgba(20, 20, 43, 0.08) 0px 8px 24px;
  }
  
  .plan-one-benefite {
    margin: auto;
  }

  .invest-plan-one-header {
    display: flex;
    margin-right: auto;
    gap: 18px;
    position: relative;
  }

  .invest-plan-two-header-top{
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
    line-height: 16px;
    font-family: 'sequel_sansbook_head' !important;
  }

  .invest-plan-two-heading-top{
    font-size: 24px;
    font-family: 'sequel_sansbook_head' !important;
    color:#FFFFFF;
    font-weight: 600;
    line-height: 36px;
  }

  .invest-plan-two-overview-content{
    font-size: 20px;
    line-height: 33px;
    font-family: 'sequel_sansbook_head' !important;
    font-weight: 400;
    max-width: 298.39px;
  }

    
  .plan-money-two{
    font-size: 56px;
    font-weight: 600;
    font-family: 'sequel_sansbook_head' !important;
    color:#FFFFFF;
  }

    
  .money-period-two{
    font-size: 18px;
    font-family: 'sequel_sansbook_head' !important;
    color:#FFFFFF;
    font-weight: 360;
    line-height: 21.29px;
    margin-top:2%;
  }

  .invest-plan-features-heading-two{
    font-size: 17.42px;
    font-family: 'sequel_sansbook_head' !important;
    color:#FFFFFF;
    font-weight: 600;
    line-height: 19.36px;
  }

  .inest-plan-data-name-two{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'sequel_sansbook_head' !important;
    font-weight: 400;
  }

  .investment-plan-get-started-two{
    width: 298.07px;
    border:none;
    height: 64px;
    background-color: #ffffff;
    border-radius: 60px;
    font-size: 18px;
    font-family: "sequel_sansbook_head" !important;
    color: #29292B;
    font-weight: 600;
    line-height: 21.24px;
  }

  .popular-plan{
    background-color: #9cc1c1;
    left: 81%;
    top: -25%;
    border-radius: 12.08px;
    position: absolute;
    padding: 12.1px 14.08px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popular-plan p{
    font-size: 16px;
    font-family: "sequel_sansbook_head" !important;
    line-height: 13.55px;
    font-weight: 500;
  }
