.header {
  padding: 40px 2% 40.3px 2%;
}

.header-flex-cont {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin: auto;
}

.header-logo-wrapper {
  cursor: pointer;
}

.header-navbar-container {
  height: 65px;
  max-width: 548px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1.444px solid #e9ebf0;
  background: #fff;
  margin: 5px;
}

.header-navbar-item {
  padding: 12px 33px;
  cursor: pointer;
}

.header-navbar-item p {
  font-weight: 420;
  font-family: "sequel_sans_semi_bold_disp" !important;
  line-height: normal;
  font-size: 17px;
  color: #29292b;
    font-style: normal;
}

.header-navbar-item-about {
  width: 146px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header-navbar-item-about p {
  margin-left: 33px;
  font-size: 17px;
  font-weight: 420;
  line-height: normal;
  font-style: normal;
  color: #29292b;
  font-family: "sequel_sans_semi_bold_disp" !important;
}
.header-navbar-item-about span {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.border-gradient {
  position: relative;
  border: 3px solid transparent;
  background: #fff;
  background-clip: padding-box;
  border-radius: 60px;
  padding: 7px 31px;
  font-size: 18px;
  font-style: normal;
  font-weight: 415;
  font-family: "sequel_sans" !important;
  line-height: normal;
  outline: none;
  max-height: 52px;
  max-width: 138px;
  cursor: pointer;
  height: 52px;
  width: 138px;
}

button.border-gradient::after {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: linear-gradient(to top, #ffb258 14%, #24b3f8 109%);
  z-index: -1;
  border-radius: 60px;
}
