@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "sequel_sansbook_head";
  src: url("./font/sequel_sans_book_head-webfont.eot");
  src: url("./font/sequel_sans_book_head-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./font/sequel_sans_book_head-webfont.woff2") format("woff2"),
    url("./font/sequel_sans_book_head-webfont.woff") format("woff"),
    url("./font/sequel_sans_book_head-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
box-sizing: border-box !important;

}


